<div class="container">
    <div id="prompts">Prompt Text here</div>
    <div id="choices" class="btn-grid">
        <button class="btn ">Choice A goes here</button>
        <button class='btn'>Choice B goes here</button>
    </div>
</div>