<div class="container text-center bg-secondary text-light col-md">
    <div id="prompts">Prompt Text here</div>
    <div id="choices" class="btn-grid">
        <button class="btn btn-dark ">Choice A goes here</button>
        <button class='btn btn-dark'>Choice B goes here</button>
    </div>
</div>